{% extends 'base.html' %}

{% block app_content %}

<h1>All Documents</h1>

{% if documents %}

<table>

	<tr>
		<th>Title</th>
		<th>Body</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>

	{% for this_document in documents %}

	<tr>
		<td><a href="{{ url_for('document', slug=this_document.slug) }}">{{ this_document.title }}</a></td>
		<td>{{ this_document.body[0:300] if this_document.body }}... </td>
		<td>{{ this_document.created_date }} </td>
		<td>{{ this_document.updated_date }} </td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>There are no documents</p>

{% endif %}

{% if current_user.is_anonymous %}

<p>
<p>Sign up to save your own documents</p>

{% endif %}

{% endblock %}