{% extends 'base.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.6/dc.min.js"></script>

    <script type="text/javascript">
var chart = dc.scatterPlot("#test");
d3.json("/api/phrases").then(function(data) {
  
  var records = data["phrases"]
  // var dateFormat = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ")

  records.forEach(function(x) {
    // x.Speed = +x.Speed;
  });
  
  var ndx                 = crossfilter(records),
      positionDimension        = ndx.dimension(function(d) {return [+d.meanSalary, +d.jobsCount]; }),
      salaryGroup       = positionDimension.group() //.reduceSum(function(d) { return d.meanSalary; });
  chart
    .width(768)
    .height(480)
    .x(d3.scaleLinear().domain([0,200000]))
    .y(d3.scaleLinear().domain([0,100000]))
    .brushOn(false)
    .symbolSize(8)
    .clipPadding(10)
    .xAxisLabel("Mean Salary")
    .yAxisLabel("Jobs")
    .dimension(positionDimension)
    .group(salaryGroup);
  chart.render();
});
</script>

      <script type="text/javascript">
    var numberFormat = d3.format(".2f");

    var usChart = dc.geoChoroplethChart("#us-chart");
    var industryChart = dc.bubbleChart("#industry-chart");
    var roundChart = dc.bubbleChart("#round-chart");

    d3.csv("/static/js/vc.csv").then(function (csv) {
        var data = crossfilter(csv);

        var states = data.dimension(function (d) {
            return d["State"];
        });
        var stateRaisedSum = states.group().reduceSum(function (d) {
            return d["Raised"];
        });

        var industries = data.dimension(function (d) {
            return d["Industry Group"];
        });
        var statsByIndustries = industries.group().reduce(
                function (p, v) {
                    p.amountRaised += +v["Raised"];
                    p.deals += +v["Deals"];
                    return p;
                },
                function (p, v) {
                    p.amountRaised -= +v["Raised"];
                    if (p.amountRaised < 0.001) p.amountRaised = 0; // do some clean up
                    p.deals -= +v["Deals"];
                    return p;
                },
                function () {
                    return {amountRaised: 0, deals: 0}
                }
        );

        var rounds = data.dimension(function (d) {
            return d["RoundClassDescr"];
        });
        var statsByRounds = rounds.group().reduce(
                function (p, v) {
                    p.amountRaised += +v["Raised"];
                    p.deals += +v["Deals"];
                    return p;
                },
                function (p, v) {
                    p.amountRaised -= +v["Raised"];
                    if (p.amountRaised < 0.001) p.amountRaised = 0; // do some clean up
                    p.deals -= +v["Deals"];
                    return p;
                },
                function () {
                    return {amountRaised: 0, deals: 0}
                }
        );

        d3.json("/static/js/us-states.json").then(function (statesJson) {
            usChart.width(990)
                    .height(500)
                    .dimension(states)
                    .group(stateRaisedSum)
                    .colors(d3.scaleQuantize().range(["#E2F2FF", "#C4E4FF", "#9ED2FF", "#81C5FF", "#6BBAFF", "#51AEFF", "#36A2FF", "#1E96FF", "#0089FF", "#0061B5"]))
                    .colorDomain([0, 200])
                    .colorCalculator(function (d) { return d ? usChart.colors()(d) : '#ccc'; })
                    .overlayGeoJson(statesJson.features, "state", function (d) {
                        return d.properties.name;
                    })
                .projection(d3.geoAlbersUsa())
                .valueAccessor(function(kv) {
                    console.log(kv);
                    return kv.value;
                })
                    .title(function (d) {
                        return "State: " + d.key + "\nTotal Amount Raised: " + numberFormat(d.value ? d.value : 0) + "M";
                    });

            industryChart.width(990)
                    .height(200)
                    .margins({top: 10, right: 50, bottom: 30, left: 60})
                    .dimension(industries)
                    .group(statsByIndustries)
                    .colors(d3.scaleOrdinal(d3.schemeCategory10))
                    .keyAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .valueAccessor(function (p) {
                        return p.value.deals;
                    })
                    .radiusValueAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .x(d3.scaleLinear().domain([0, 5000]))
                    .r(d3.scaleLinear().domain([0, 4000]))
                    .minRadiusWithLabel(15)
                    .elasticY(true)
                    .yAxisPadding(100)
                    .elasticX(true)
                    .xAxisPadding(200)
                    .maxBubbleRelativeSize(0.07)
                    .renderHorizontalGridLines(true)
                    .renderVerticalGridLines(true)
                    .renderLabel(true)
                    .renderTitle(true)
                    .title(function (p) {
                        return p.key
                                + "\n"
                                + "Amount Raised: " + numberFormat(p.value.amountRaised) + "M\n"
                                + "Number of Deals: " + numberFormat(p.value.deals);
                    });
            industryChart.yAxis().tickFormat(function (s) {
                return s + " deals";
            });
            industryChart.xAxis().tickFormat(function (s) {
                return s + "M";
            });

            roundChart.width(990)
                    .height(200)
                    .margins({top: 10, right: 50, bottom: 30, left: 60})
                    .dimension(rounds)
                    .group(statsByRounds)
                    .colors(d3.scaleOrdinal(d3.schemeCategory10))
                    .keyAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .valueAccessor(function (p) {
                        return p.value.deals;
                    })
                    .radiusValueAccessor(function (p) {
                        return p.value.amountRaised;
                    })
                    .x(d3.scaleLinear().domain([0, 5000]))
                    .r(d3.scaleLinear().domain([0, 9000]))
                    .minRadiusWithLabel(15)
                    .elasticY(true)
                    .yAxisPadding(150)
                    .elasticX(true)
                    .xAxisPadding(300)
                    .maxBubbleRelativeSize(0.07)
                    .renderHorizontalGridLines(true)
                    .renderVerticalGridLines(true)
                    .renderLabel(true)
                    .renderTitle(true)
                    .title(function (p) {
                        return p.key
                                + "\n"
                                + "Amount Raised: " + numberFormat(p.value.amountRaised) + "M\n"
                                + "Number of Deals: " + numberFormat(p.value.deals);
                    });
            roundChart.yAxis().tickFormat(function (s) {
                return s + " deals";
            });
            roundChart.xAxis().tickFormat(function (s) {
                return s + "M";
            });

            dc.renderAll();
        });
    });
</script>
{{super()}}
{% endblock %}

{% block app_content %}

        {% if current_user.is_anonymous %}
        	<h1>Welcome to jobwords</h1>
        {% else %}
			<h1>Hi, {{ current_user.username }}!</h1>
        {% endif %}

        <div id="test"></div>

        <div id="bubble"></div>

        <div id="us-chart">
        <strong>VC Distribution by States (color: total amount raised)</strong>
        <a class="reset" href="javascript:usChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        <span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="industry-chart">
        <strong>By Industries</strong> (y: number of deals, x: total amount raised in millions, radius: amount raised)
        <a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="round-chart">
        <strong>By Rounds</strong> (y: number of deals, x: total amount raised in millions, radius: amount raised)
        <a class="reset" href="javascript:roundChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div>
        <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
    </div>

{% endblock %}