{% extends 'base.html' %}

{% block app_content %}

{% if phrase %}

<h1>{{ phrase.phrase_text }}</h1>

{% if phrase.findings %}

<div class="jumbotron" style="text-align: center; margin-top: 10px;">


<div class="row">
    <div class="col-md-3 d-none d-lg-block">
<img src="/static/images/uncle_moneybags.png">
    </div>
    <div class="col-md-9">

<h1 style="text-align: left;">Job market for <i class="fa fa-hand-point-right"></i> {{ phrase.phrase_text }}</h1>

  <p style="text-align: left; padding: 10px 0px 10px 0px;">{% if phrase.search_count == 1 %}New search phrase!{% else %}This phrase has been searched {{ phrase.search_count }} times.{% endif %} There are {{ '{:,.0f}'.format(phrase.findings[-1].jobs_count) if phrase.findings[-1].jobs_count }} jobs in this market segment with an average salary of {{ '${:,.0f}'.format(phrase.findings[-1].mean_salary) if phrase.findings[-1].mean_salary }}. There are {{ '{:,.0f}'.format(phrase.findings[-1].jobs_above_100k_count) if phrase.findings[-1].jobs_above_100k_count }} jobs over $100k.</p>

<div class="row">
    <div class="col-md-6">

<form class="form-inline justify-content-center" method="get" action="{{ url_for('phrase_list') }}">
          <div class="input-group pulsor">
      <input class="form-control border-secondary border-right-0 rounded-0" type="text" name="term" placeholder="Search phrase">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
</div>
        </form>

        <p style="font-size: medium; padding: 10px 0px 10px 0px;"><a href="{{ url_for('create_document') }}">Scan your resume or Linkedin profile</a></p>

    
</div>

<div class="col-md-6">
	<p>Sorry, Beta Invitations are full. <br/>Sign up for updates!</p>

  <!-- inline form -->

  <!-- <form class="form-inline justify-content-center">
    <div class="form-group">
     <label class="sr-only" for="email">Email address</label>
       <div class="input-group">
           <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="email" placeholder="Your email">

       </div>    


    </div>  
  <button type="submit" class="btn btn-primary">Sign up</button>      

  </form> -->

	</div>

</div>

</div>

  </div>


</div>

{% else %}

<p>There are no search findings</p>

{% endif %}

{% else %}
<p>Not found</p>

{% endif %}


{% endblock %}