{% extends 'base.html' %}

{% block app_content %}

        <h1>My Documents</h1>

        {% if documents %}

        <table>

    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>

    {% for this_document in documents %}

    <tr>
        <td><a href="{{ url_for('document', slug=this_document.slug) }}">{{ this_document.title }}</a></td>
        <td>{{ this_document.body[0:300] if this_document.body }}... </td>
        <td>{{ this_document.created_date }} </td>
        <td>{{ this_document.updated_date }} </td>
    </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You have no search documents</p>

    {% endif %}

{% endblock %}