{% extends 'base.html' %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    var numberFormat = d3.format(".0f");

    var usChart = dc.geoChoroplethChart("#us-chart");
    var phraseChart = dc.bubbleChart("#phrase-chart");
    var userChart = dc.rowChart('#user-chart');
    var documentChart = dc.rowChart('#document-chart');

    d3.json("api/phrases").then(function (jsonData) {

        var records = jsonData["phrases"]

        records.forEach(function(d) {
            d.meanSalary = d.meanSalary / 1000;
            if (d.documentTitle) {} else { d["documentTitle"] = '-No document-'};
            if (d.username) {} else { d["username"] = '-Anonymous-'};

        });


        var ndx = crossfilter(records);
        var all = ndx.groupAll();

        var userDimension = ndx.dimension(function (d) { return d["username"];});
        var documentDimension = ndx.dimension(function (d) { return d["documentTitle"];});
        var stateDimension = ndx.dimension(function (d) { return d["state"];});
        var phraseDimension = ndx.dimension(function (d) {return d["phraseText"];});

        var userGroup = userDimension.group();
        var documentGroup = documentDimension.group();


        var stateJobsSum = stateDimension.group().reduceSum(function (d) {
            return d["meanSalary"];
        });

        var statsByPhrases = phraseDimension.group().reduce(
            function (p, v) {
                p.meanSalary += +v["meanSalary"];
                p.jobs += +v["jobsCount"];
                p.jobsOver100k += +v["jobsOver100kCount"];
                    // p.radius = Math.log(p.jobsOver100k) / Math.log(1.00001);
                    p.radius = p.jobsOver100k;
                    if (p.radius > 100000) p.radius = 100000 + Math.log(p.jobsOver100k);
                    ++p.count;
                    return p;
                },
                function (p, v) {
                    p.meanSalary -= +v["meanSalary"];
                    if (p.meanSalary < 0.001) p.meanSalary = 0; // do some clean up
                    p.jobs -= +v["jobsCount"];
                    p.jobsOver100k -= +v["jobsOver100kCount"];
                    p.radius = p.jobsOver100k;
                    if (p.radius > 100000) p.radius = 100000 + Math.log(p.jobsOver100k);
                    --p.count;
                    return p;
                },
                function () {
                    return {meanSalary: 0, jobs: 0, jobsOver100k:0, count: 0, radius: 0}
                }
                );

        userChart /* dc.rowChart('#day-of-week-chart', 'chartGroup') */
        .width(180)
        .height(180)
        // .margins({top: 20, left: 10, right: 10, bottom: 20})
        .group(userGroup)
        .dimension(userDimension)
        // .ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
        // .label(function (d) {
        //     return d.key.split('.')[1];
        // })

        // .title(function (d) {
        //     return d.value;
        // })
        .elasticX(true)
        .xAxis().ticks(4);

        documentChart /* dc.rowChart('#day-of-week-chart', 'chartGroup') */
        .width(180)
        .height(180)
        // .margins({top: 20, left: 10, right: 10, bottom: 20})
        .group(documentGroup)
        .dimension(documentDimension)
        // .ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
        // .label(function (d) {
        //     return d.key.split('.')[1];
        // })

        // .title(function (d) {
        //     return d.value;
        // })
        .elasticX(true)
        .xAxis().ticks(4);


        d3.json("static/js/us-states.json").then(function (statesJson) {
            var width = 990;
            var height = 500;

            // D3 Projection
            var projection = d3.geoAlbersUsa()
            .translate([width/4, height/4])    
            .scale([500]);

            usChart.width(width)
            .height(height)
            .dimension(stateDimension)
            .group(stateJobsSum)
            .colors(d3.scaleQuantize().range(["#E2F2FF", "#C4E4FF", "#9ED2FF", "#81C5FF", "#6BBAFF", "#51AEFF", "#36A2FF", "#1E96FF", "#0089FF", "#0061B5"]))
            .colorDomain([0, 200])
            .colorCalculator(function (d) { return d ? usChart.colors()(d) : '#ccc'; })
            .overlayGeoJson(statesJson.features, "state", function (d) {
                return d.properties.name;
            })
            .projection(projection)
            .valueAccessor(function(kv) {
                console.log(kv);
                return kv.value;
            })
            .title(function (d) {
                return "State: " + d.key + "\nTotal jobs: " + numberFormat(d.value ? d.value : 0) + "M";
            });

            phraseChart.width(990)
            .height(500)
            .margins({top: 10, right: 50, bottom: 30, left: 80})
            .dimension(phraseDimension)
            .group(statsByPhrases)
            .colors(d3.scaleOrdinal(d3.schemeCategory10))
            .keyAccessor(function (p) {
                        // return p.value.meanSalary;
                        return p.value.count > 0 ? p.value.meanSalary / p.value.count : 0;
                    })
            .valueAccessor(function (p) {
                return p.value.count > 0 ? p.value.jobs / p.value.count : 0;
                        // return p.value.count > 0 ? p.value.jobs / p.value.count : 0;
                    })
            .radiusValueAccessor(function (p) {
                return p.value.radius;
            })
            .y(d3.scaleLog().domain([0, 1000]))
            .x(d3.scaleLinear().domain([0, 200]))
            .r(d3.scaleLinear().domain([0, 200000]))
            .minRadiusWithLabel(5)
            .elasticY(true)
                    // .yAxisPadding(100)
                    .elasticX(true)
                    .xAxisPadding(5)
                    .maxBubbleRelativeSize(0.07)
                    .renderHorizontalGridLines(true)
                    .renderVerticalGridLines(true)
                    .renderLabel(true)
                    .renderTitle(true)
                    .title(function (p) {
                        return p.key
                        + "\n"
                        + "Average Salary: $" + numberFormat(p.value.count > 0 ? p.value.meanSalary / p.value.count : 0) + "k\n"
                        + "Number of Jobs: " + numberFormat(p.value.count > 0 ? p.value.jobs / p.value.count : 0) + "\n"
                        + "Jobs over $100k: " + numberFormat(p.value.count > 0 ? p.value.jobsOver100k / p.value.count : 0) + "\n";
                                // + "radius: " + numberFormat(p.value.radius);
                            });
                    phraseChart.yAxis().tickFormat(function (s) {
                        return s + " jobs";
                    });
                    phraseChart.xAxis().tickFormat(function (s) {
                        return s + "k";
                    });

                    dc.renderAll();
                });
    });
</script>
{% endblock %}

{% block app_content %}

<div class="jumbotron" style="text-align: center; margin-top: 10px;">


    <div class="row">
        <div class="col-md-3 d-none d-lg-block">
            <img src="/static/images/uncle_moneybags.png">
        </div>
        <div class="col-md-9">

            <h1 style="text-align: left;">Market value for <i class="fa fa-hand-point-right"></i> {{ document.title }}</h1>

            <p style="text-align: left; padding: 10px 0px 10px 0px;">blah blah</p>


        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="phrase-chart">
            <strong>Job market by Search Phrase</strong> (y: number of jobs, x: average salary, radius: number of jobs over $100k)
            <a class="reset" href="javascript:phraseChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        </div>
    </div>
</div>


<!-- <div class="row">
  <div class="col-md-3">
      
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">By User</h3>
          </div>
          <div class="panel-body">
            <div id="user-chart">
        <a class="reset" href="javascript:usChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        <span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>

    </div>
          </div>
        </div>

  </div>
  <div class="col-md-3">
      

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">By Document</h3>
          </div>
          <div class="panel-body">
            <div id="document-chart">
        <a class="reset" href="javascript:usChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        <span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>

    </div>
          </div>
        </div>

  </div>
  <div class="col-md-6">
      
            
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Job Distribution by State (color: total number of jobs)</h3>
          </div>
          <div class="panel-body">
            <div id="us-chart">
        <a class="reset" href="javascript:usChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        <span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>

    </div>
          </div>
        </div>

  </div>
</div> -->


<div class="row">
    <div class="col-md-12">

        <h1>All Phrases</h1>

        {% if phrases %}

        <table class="table-striped">

           <tr>
              <th>Phrase</th>
              <th>Search Count</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Jobs</th>
              <th>Mean Salary</th>
              <th>Jobs above $100k</th>
          </tr>

          {% for this_phrase in phrases %}

          <tr>
              <td><a href="{{ url_for('phrase_view', phrase_slug=this_phrase.slug) }}">{{ this_phrase.phrase_text }}</a></td>
              <td>{{ this_phrase.search_count }} </td>
              <td>{{ this_phrase.created_date.strftime('%x') if this_phrase.created_date }} </td>
              <td>{{ this_phrase.updated_date.strftime('%x') if this_phrase.updated_date }} </td>
              <td>{{ '{:,.0f}'.format(this_phrase.findings[-1].jobs_count) }} </td>
              <td>{{ '${:,.0f}'.format(this_phrase.findings[-1].mean_salary) }} </td>
              <td>{{ '{:,.0f}'.format(this_phrase.findings[-1].jobs_above_100k_count) }} </td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <p>There are no search phrases</p>

      {% endif %}


  </div>
</div>

{% endblock %}