{% extends 'base.html' %}

{% block app_content %}

        <h1>My Phrases</h1>

        {% if phrases %}

        <table>

        {% for this_phrase in phrases %}

        <tr>
        	<td>{{ this_phrase.phrase.phrase }} </td>
        	<td>{{ this_phrase.phrase.search_count }} </td>
        	<td>{{ this_phrase.phrase.created_date }} </td>
        	<td>{{ this_phrase.phrase.updated_date }} </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You have no search phrases</p>

    {% endif %}

{% endblock %}